---

name: Windows

'on':
  push:
    branches:
      - main
    paths-ignore:
      - 'Test/**'
      - '*.md'
  pull_request:
    branches:
      - main

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  CONFIGURATION: Release

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    name: ${{ matrix.name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Windows VS 2022
            runner: windows-2022
    env:
      CLOUDSMITH_API_KEY: ${{ vars.CLOUDSMITH_API_KEY }}

    # Use bash as the shell, even under MSW where the default is PowerShell.
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      # required for CMake to find Ninja
      - name: "Set up MSVC Developer Command Prompt"
        uses: seanmiddleditch/gha-setup-vsdevenv@v5
        with:
          arch: amd64

      - name: "Dependencies, configure, build"
        shell: cmd
        run: .\github_build.bat

      - name: Run CLI smoke tests with timeout
        shell: pwsh
        run: |
          $process = Start-Process -FilePath "$env:GITHUB_WORKSPACE\test_win.bat" -PassThru
          if ($process.WaitForExit(60000)) {
            $exitCode = $process.ExitCode
            if ($exitCode -eq 0) {
              Write-Host "Process completed."
            } else {
              Write-Host "Process failed."
              exit 1
            }
          } else {
            Write-Host "Timeout reached. Killing process."
            $process.Kill()
            exit 1
          }

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: s2spice
          path: |
            .\build\s2spice*.exe
          retention-days: 2
